* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Quicksand",sans-serif;
  font-size: 62.5%;
}

input,
button {
  outline: none;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
